---
layout: page
title: Gallery
permalink: /gallery/
hide_hero: true
hide_footer: true
---

<article class="message is-info">
    <div class="message-header">OpenE2140 is still a work in progress</div>
    <div class="message-body">
        <div class="columns is-vcentered">
            <div class="column is-narrow is-hidden-mobile">
                <span class="icon has-text-info is-medium">
                    <i class="fa-classic fa-solid fa-info fa-2x"></i>
                </span>
            </div>
            <div class="column">
                <p>Since OpenE2140 is still a work in progress, some screenshots or videos may not reflect the current state of the game.</p>
            </div>
        </div>
    </div>
</article>

{% include media-gallery.html gallery='gallery_screenshots' %}

{% include media-gallery.html gallery='gallery_videos' %}

<article class="message is-info">
    <div class="message-header">Preview videos</div>
    <div class="message-body">
        <div class="columns is-vcentered">
            <div class="column is-narrow is-hidden-mobile">
                <span class="icon has-text-info is-medium">
                    <i class="fa-classic fa-solid fa-info fa-2x"></i>
                </span>
            </div>
            <div class="column">
                <p>For historical purposes, we also include a few older preview videos that showcase various stages of development.</p>
            </div>
        </div>
    </div>
</article>

{% include media-gallery.html gallery='gallery_preview_videos' %}

<p>For more videos, see <a href="https://dalek.zone/c/opene2140/videos">OpenE2140 channel on Dalek.zone</a> (a PeerTube instance).</p>
