<section class="section">
    <div class="is-flex is-align-items-center is-flex-direction-column">
        <div class="mt-2 mb-6">
            <img src="{{ '/images/homepage_logo.png' | relative_url }}" style="width: 45em" />
        </div>
        <article class="message is-warning">
            <div class="message-header has-text-centered is-flex is-justify-content-center is-size-2">Site under construction</div>
            <div class="message-body has-text-centered is-size-4">
                <p class="mb-4">The first public release of OpenE2140 is coming soon!</p>
                <p>Check back again later!</p>
            </div>
        </article>
    </div>
</section>
