<footer class="footer">
    <div class="container">
        <div class="buttons is-centered mb-6">
            <a href="https://discord.gg/KNcX5BxA37" class="button is-medium" style="min-width: 8.0em">
                <span class="icon is-medium ml-1">
                    <i class="fa-brands fa-discord fa-xl"></i>
                </span>
                <span class="ml-2 mt-1">Discord</span>
            </a>

            <a href="https://github.com/OpenE2140/OpenE2140" class="button is-medium" style="min-width: 8.0em">
                <span class="icon is-medium ml-1">
                    <i class="fa-brands fa-github fa-xl"></i>
                </span>
                <span class="ml-2 mt-1">GitHub</span>
            </a>

            <a href="https://www.moddb.com/mods/opene2140" class="button is-medium" style="min-width: 8.0em">
                <img src="{{ '/images/moddb_spanner.png' | relative_url }}" style="height: 1.5em" />
                <span class="ml-2 mt-1">Mod DB</span>
            </a>

            <a href="https://dalek.zone/c/opene2140/videos" class="button is-medium" style="min-width: 8.0em">
                <img src="{{ '/images/peertube_logo.png' | relative_url }}" style="width: 1.3em" />
                <span class="ml-1 mt-1">PeerTube</span>
            </a>
        </div>

        <div class="is-flex is-align-items-center is-justify-content-center is-flex-direction-column is-size-7">
            <p class="mb-4">
                <img src="{{ '/images/logo_footer.png' | relative_url }}" style="width: 128px">
            </p>

            <p>© 2025 The OpenE2140 Developers</p>
        </div>
    </div>
</footer>
