<!-- head scripts -->

<script defer src="{{ '/assets/js/alpinejs@cdn.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/js.cookie.min.js' | relative_url }}"></script>

<link
    rel="stylesheet"
    href="{{ '/assets/css/font-awesome@all.min.css' | relative_url }}"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
    >

<link
    rel="stylesheet"
    href="{{ '/assets/css/bulma-v1-tooltip.min.css' | relative_url }}"
    integrity="sha512-Lh/fibsojlglRc0T9J4JMPZYWOVeRxRX2AQ6pcaiSvzPYh55bpb1MoismbhpHkjAp1OzrKRzyqzyYkQNvkDBkQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
    >
