<nav
    class="navbar {% if site.fixed_navbar %} is-fixed-{{ site.fixed_navbar }} {% endif %}"
    x-data="{ openNav: false }"
>
    <div class="container">
        <div class="navbar-brand">
            <a href="{{ '/' | relative_url }}" class="navbar-item">
                {{ site.title }}
            </a>
            <a
                role="button"
                class="navbar-burger burger"
                aria-label="menu"
                aria-expanded="false"
                data-target="navMenu"
                :class="{ 'is-active': openNav }"
                x-on:click="openNav = !openNav"
            >
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu" id="navMenu" :class="{ 'is-active': openNav }">
            <div class="navbar-end">
                <a href="{{ '/' | relative_url }}" class="navbar-item {% if page.url == "/" %}is-active{% endif %}">Home</a>

                {% if site.data.navigation %}
                    {% for item in site.data.navigation %}
                        {% if item.dropdown %}
                            <div class="navbar-item has-dropdown is-hoverable {% if site.fixed_navbar == 'bottom' %} has-dropdown-up {% endif %}">
                                <a
                                    href="{{ item.link | relative_url }}"
                                    class="navbar-link {% if page.url contains item.link %}is-active{% endif %} {{ item.style }}"
                                >
                                    {{- item.name -}}
                                </a>
                                <div class="navbar-dropdown">
                                    {% for subitem in item.dropdown %}
                                        <a
                                            href="{{ subitem.link | relative_url }}"
                                            class="navbar-item {% if subitem.link == page.url %}is-active{% endif %}"
                                        >
                                            {{- subitem.name -}}
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        {% else %}
                            <a
                                href="{{ item.link | relative_url }}"
                                class="navbar-item {% if item.link == page.url %}is-active{% endif %} {{ item.style % }}"
                            >
                                {{- item.name -}}
                            </a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <div class="buttons is-centered is-hidden-touch ml-6">
            <a href="https://discord.gg/KNcX5BxA37" class="button is-small">
                <span class="icon is-small">
                    <i class="fa-brands fa-discord fa-xl"></i>
                </span>
            </a>

            <a href="https://github.com/OpenE2140/OpenE2140" class="button is-small">
                <span class="icon is-small">
                    <i class="fa-brands fa-github fa-xl"></i>
                </span>
            </a>

            <a href="https://www.moddb.com/mods/opene2140" class="button is-small">
                <img src="{{ '/images/moddb_spanner.png' | relative_url }}" style="height: 1.5em" />
            </a>

            <a href="https://dalek.zone/c/opene2140/videos" class="button is-small" style="padding-left: 6px; padding-right: 6px;">
                <img src="{{ '/images/peertube_logo.png' | relative_url }}" style="width: 1.5em" />
            </a>
        </div>
    </div>
</nav>
