<!-- head scripts -->

<script defer src="{{ site.baseurl }}/assets/js/alpinejs@cdn.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/js.cookie.min.js"></script>

<link
    rel="stylesheet"
    href="{{ site.baseurl }}/assets/css/font-awesome@all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
    >

<!-- Share buttons are not used -->
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-social@1/bin/bulma-social.min.css"> -->

