<!doctype html>

<html
    dir="{{ site.direction | default: 'ltr' }}"
    lang="{{ site.lang | default: 'en' }}"
    class="{% if site.fixed_navbar %} has-navbar-fixed-{{ site.fixed_navbar }} {% endif %} {% if site.force_theme %} theme-{{ site.force_theme }} {% endif %}"
>
    {% include head.html %}
    <body>
        {% include skip-to-content.html %}
        {% include header.html %}
        {% if page.show_hero %}
            {% include hero.html %}
        {% endif %}
        {% include callouts.html %}
        <section class="section">
            <div class="container">
                <div class="columns is-multiline">
                    {% if page.menubar_toc %}
                        <div class="column is-4-desktop is-4-tablet">
                            {% assign contentsTitle = page.toc_title | default: 'Contents' %}
                            {% include toc.html html=content class='menu-list' h_min=2 h_max=3 contents_title=contentsTitle %}
                        </div>
                    {% elsif page.menubar %}
                        <div class="column is-4-desktop is-4-tablet">
                            {% include menubar.html %}
                        </div>
                    {% endif %}
                    <main class="column is-12" id="main-content">
                        {% include tabs.html %}
                        {% include showcase.html %}
                        {% include sponsors.html %}
                        {% include gallery.html %}
                        {{ content }}
                    </main>
                </div>
            </div>
        </section>
        {% unless page.hide_footer %}
            {% include footer.html %}
        {% endunless %}

        {% if site.cookie_policy and site.env.UMAMI_WEBSITE_ID %}
            {% include cookie-banner.html %}
        {% endif %}

        <script src="{{ '/assets/js/app.js' | relative_url }}" type="text/javascript"></script>
        {%- include footer-scripts.html -%}
    </body>
</html>
